// height
h-nav = 50px
h-block-header = 40px
/** Z-INDEX */
z-nav = 100
z-nav-list = 110
z-modal = 900
z-dialog = 800

/** COLOR  */
//app
c-text = #2c2c30
c-text-grey = #abadbb
c-bg = #e1e1e1
c-bg-light = #f6f6f6
c-grey = #eaebed
c-border = #e2e2e2

c-blue = #0db8f6
// flarum
c-fla-orange = #E7672E
c-fla-border = #CCD6E4


//ios
c-ios-red     = rgb(255  59  48)
c-ios-orange  = rgb(255 149  48)
c-ios-yellow  = rgb(255 204   0)
c-ios-green   = rgb( 76 217 100)
c-ios-tealBlue= rgb( 90 200 250)
c-ios-blue    = rgb(  0 122 255)
c-ios-purple  = rgb( 88  86 214)
c-ios-pink    = rgb(255  45  85)

c-jianshu-hl = #333
c-cnode-bg = #e1e1e1
c-zhihu-bg = #f7f8fa
c-vue-dark    = #2c3e50
c-github-dark = #24292e
c-cnode-green = #80bd01
c-elle-green  = #00e6ce

c-m-5         = #7186c7

// border-radius: 
r-block = 4px
