.btn
  display inline-block
  text-align center
  cursor pointer
  border-radius r-block
  border 1px solid transparent
  &:hover
    opacity .9
  &:active
    opacity .7
    box-shadow inset 0 3px 5px rgba(0,0,0,0.125)

.btn-default
  background white
  color c-ios-blue
  &:active, &:link
    background #e2e2e2
  
.btn-block
  width 100%

.red
  color c-ios-red
.blue
  color c-ios-blue
  

.btn-red
  color white
  background-color c-ios-red
  border-color c-ios-red
.btn-red-h
  background-color white
  color c-ios-red
  border-color c-ios-red
.btn-red-h-b
  color c-ios-red
  background-color white
  border-color c-ios-red
.btn-orange
  color white
  background-color c-ios-orange
  border-color c-ios-orange
.btn-orange-h
  background-color white
  color c-ios-orange
  border-color c-ios-orange
.btn-orange-h-b
  color c-ios-orange
  background-color white
  border-color c-ios-orange
.btn-green
  color white
  background-color c-ios-green
  border-color c-ios-green
.btn-green-h
  background-color white
  color c-ios-green
  border-color c-ios-green
.btn-green-h-b
  color c-ios-green
  background-color white
  border-color c-ios-green

.btn-tealBlue
  color white
  background-color c-ios-tealBlue
  border-color c-ios-tealBlue
.btn-tealBlue-h
  color c-ios-tealBlue
  background-color white
  border-color c-ios-tealBlue

.btn-tealBlue-h-b
  color c-ios-tealBlue
  background-color white
  border-color c-ios-tealBlue

.btn-blue
  color white
  background-color c-ios-blue
  border-color c-ios-blue
.btn-blue-h-b
  color c-ios-blue
  background-color white
  border-color c-ios-blue

.tab
  cursor pointer